#root {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tf-form,
.mf-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  background-color: antiquewhite;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
}

.mf-form {
  background-color: aquamarine;
  width: 90%;
}

.if-inputField {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  width: 95%;
}

.if-input {
  width: 180px;
}

.sf-selectField {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 95%;
  gap: 4px;
}

.sf-select {
  width: 188px;
}

button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow:
    #fff 4px 4px 0 0,
    #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 130px;
  height: 30px;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow:
    #fff 2px 2px 0 0,
    #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.ts-teamSummary {
  display: flex;
  flex-direction: column;
  background-color: coral;
  padding: 20px;
  border-radius: 30px;
  justify-content: flex-start;
  gap: 20px;
}

.t-team {
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 255, 80);
  padding: 20px;
  border-radius: 30px;
}

p {
  margin: 0;
}
